<h1 class='text-center mt-4'>Edit category name</h1>
<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-10'>
      <%= render 'categories/form' %>
    </div>
    <%= link_to '[ Cancel and return to categories listing ]', categories_path, class: 'text-info text-center' %>
  </div>
</div>
